/*
  This will style all elements to have no space
  around the edges of the element and have line spacing
  of 140% of the font size of the element.
*/
* {
  margin: 0;

  line-height: 140%;
}

/*
  This will style the html element (also known as the
  root element) to have a default font-size of 62.5%
  of the default font size for the browser.
*/
html {
  font-size: 62.5%;
}

/* 
  This styles the body element to have a background color
  of #121212, which will be the main background color for the
  entire website.
  This will style the body element and all elements that
  inherit from the body styling to change their font color
  to #ededed, which is an off-white, the font size
  to 1.8 times the size of the root element's font size,
  and to use the Arial font before using the Helvetica font.
  If neither font is available, the browser will use the
  default sans-serif font.
*/
body {
  background-color: #121212;
  color: #ededed;

  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  This styles the nav element to have a background color
  of #800808, which is a dark red.
*/
nav {
  background-color: #800808;
}

/* 
  This styles the unordered list inside the nav to have
  no space on the inside of the element and to have no
  bullet points for the list items.
*/
nav ul {
  padding: 0;

  list-style: none;
}

/*
  This styles all list item elements in the nav to display
  beside each other, but also allow for changes to their
  dimensions, and add 5px of space on the top and the bottom
  of the list items.
*/
nav li {
  display: inline-block;
  margin: 5px 0;
}

/* 
  This styles all anchors inside the nav to display beside
  each other, but also allow for changes to their dimensions.
  For example, it allows us to change the height of the anchors
  so that they are 100% of the height of their parent element, the
  list items in the nav.
  This styling also adds 15px of space on the inside of the element
  just above and below the content and 25px on the inside of the element
  just to the left and the right of the content.
  This styling makes the background color of the anchors to be a dark
  gray (#121212) and the font color to be an off-white (#ededed).
  Lastly, the anchors will not have an underline.
*/
nav a {
  display: inline-block;
  height: 100%;

  padding: 15px 25px;

  background-color: #121212;
  color: #ededed;

  text-decoration: none;
}

/* 
  This styles the anchor elements in the nav so that when a user hovers
  on or tabs to the links, the colors of the anchor swap out. This means
  the background color will be an off-white and the font color will be
  a dark gray.
*/
nav a:hover,
nav a:focus {
  background-color: #ededed;
  color: #121212;
}

/*
  This styles the anchor elements in the nav so that when a user clicks
  and holds on the anchor, the content becomes heavily bolded.
*/
nav a:active {
  font-weight: bolder;
}

/*
  This styles the main heading of the website to add space to the
  top and bottom of the heading of 50px, adds space inside the element
  on the top and bottom of 20px, adds a background color of off-white
  (#ededed), changes the font color to a pastel bright red of #f55959, 
  sets the font size to 4.8 times the size of the root element, 
  aligns the text to center, and creates a shadow behind the text that
  has a color of #121212, has a horizontal offset of 1px, a vertical
  offset of 1px and 0px of blur.
*/
h1 {
  margin: 50px 0;
  padding: 20px 0;

  background-color: #ededed;
  color: #f55959;

  font-size: 4.8rem;
  text-align: center;

  text-shadow: #121212 1px 1px 0px;
}

/*
  This styles the section that holds all of my
  important information to have no spacing on the top
  and bottom of the section and spacing that is equal
  to 5% of the width of the browser window on the left
  and right sides of the section.
*/
main {
  margin: 0 5%;
}

/* 
  This styles the div inside the section tags to
  float on the left side of other content inside the
  section. It also styles the div to have a width of
  40% of the width of the section tag, space on the right
  side of the div of 2.5% of the width of the window,
  space on the inside 
*/
section div {
  float: left;

  width: 40%;

  margin-right: 2.5%;
  padding: 1.5% 3%;

  background-color: #ededed;
  color: #121212;
}

/*
  This styles all figure elements inside the section to 
  display inline with other elements, but also allows for
  dimension changes like setting the width of the element
  to be 50% of the width of the section.
*/
section figure {
  display: inline-block;

  width: 50%;
}

/*
  This styles all images inside figure tags to be 100%
  of the width of the figure.
*/
figure img {
  width: 100%;
}

/*
  This styles all captions of figures to have space on the
  bottom of the element of 20px and aligns the text to
  center.
*/
figcaption {
  margin-bottom: 20px;

  text-align: center;
}

/*
  This styles all span elements to bold all the text
  inside the element.
*/
span {
  font-weight: bold;
}

/*
  This styles the element with an ID of definition
  to underline all the text inside the element.
*/
#definition {
  text-decoration: underline;
}

/* 
  This styles all elements with a class of musician-name
  to italicize the text inside the element.
*/
.musician-name {
  font-style: italic;
}

/*
  This styles the footer element to be taken out of the
  normal flow of the website and put 10px away from the
  bottom of the browser window.
  It also styles the footer to be the full width of the
  browser window.
  Lastly, it centers the text inside the footer elements.
*/
footer {
  position: absolute;
  bottom: 10px;

  width: 100%;

  text-align: center;
}
